.img-contacto {
    max-width: 18rem;
    max-height: 18rem;
}

.icono-contacto {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #4E525A;
    border: 2px solid #4E525A;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 20px;
}

.container-icono {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.enlace{
    color: #4E525A;
}

.container-icono:hover .icono-contacto,
.container-icono:hover a {
    color: #24262F; 
    border-color: #24262F; 
}


