:root{
    --color-primary: #6e06f2;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover, .nav-link.active {
    color: var(--color-primary) !important /* debe mejorarse */
}

.navbar-brand {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    flex: 0.16;
    text-align: left;
}

.logo-destacado{
    color: var(--color-primary);
}

.img-contact {
    height: 1.5em;
    width: 1.5em;
}

.contact-btn:hover {
    color: var(--color-primary);
}