.card-no-border {
    border: none;
}

.img-skills{
    width: 20rem;
    height: 12rem;
}

.img-lugar{
    height: 12rem;
    object-fit: cover;
}

p {
    text-align: justify;
}

.side-line {
    border-left: 3px solid #6200ea;
    padding-left: 10px;
}
